body {
  margin: 0;
  background-color: #80DEEA;
  font-family: 'Libre Franklin';
}

nav{
  background-color: #EEEEEE;
  font-family: 'Pacifico';
  font-size: 3vw;
  position: relative;
  text-align: center;
  width: 100%;
}

#presentation{
  text-align: center;
}

#introduction {
  font-size: 1.3vw;
  margin-left: 0.5%;
  margin-right: 0.5%;
  text-align: justify;
}

#cards {
  width: 100%;
  display: inline;
}

.card {
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  float: left;
  margin: 1%;
  transition: 0.4s;
  width: 48%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.dog_name {
  font-family: 'Pacifico';
  font-size: 1.5vw;
}
